:root{
    --colorPrimaryDark : hsl(300, 43%, 22%);
    --colorPrimaryPink: hsl(333, 80%, 67%);
    --colorSecundaryPinkGray: hsl(303, 10%, 53%);
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;
    background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
    background-position:top left,bottom center;
    background-repeat: no-repeat,no-repeat;
}

*, *:before, *:after {
    box-sizing: inherit;
}
 
body{
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 80px 5% 50px;
}

.header__left h1{
    color: var(--colorPrimaryDark);
    width: 400px;
    font-size: 40px;
}

.header__left p{
    color: var(--colorSecundaryPinkGray);
    font-weight: 500;
    width: 400px;
    margin: 0;
}

.header__right{
    padding: 0;
    list-style: none;
}

.header__right__item{
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    padding: 20px;
    border-radius: 16px;
    color: var(--colorPrimaryDark);
    background-color: rgba(238, 104, 164, 0.123);
    font-weight: 700;
}

.header__right__item p{
    display: inline;
    padding-left: 20px;
}

.header__right__item:nth-child(2){
    margin-left: 50px;
}

.header__right__item:nth-child(3){
    margin-left: 100px;
    
}

.section{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
 
}

.card{
    background-color: var(--colorPrimaryDark);
    color: white;
    width: 30%;
    height: 310px;
    padding: 50px 2%;
    border-radius: 16px;
}

.card__head{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
} 

 .card__head img{
    border-radius: 50%;
}

.card__head p{
    margin-left: 10px;
}

.card__head p:nth-child(3){
    margin-top: 40px;
    margin-left: -100px;
    color: var(--colorPrimaryPink);
    font-weight: 700;  
}

.card:nth-child(2){
    margin-top: 25px;
}

.card:nth-child(3){
    margin-top: 50px;
}

@media only screen and (max-width: 1110px) {

    .header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    .header__left h1,
    .header__left p{
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        text-align: center;
        margin-bottom: 40px;
    }

    .header__right{
        width: 100%;
    }

    .header__right__item,
    .header__right__item:nth-child(2),
    .header__right__item:nth-child(3){
        
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 70%;
    }

    .header__right__item p{
        display: block;
        padding-left: 0;
    }

    .section{

        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .card{
        margin: 0;
        width: 70%;
        margin-bottom: 50px;
        padding: 50px 10%; 
        height: auto;
    }

}


@media only screen and (max-width: 550px) {

    body{
        padding: 0 10%;
    }

    .header__left h1,
    .header__left p{
        width: 100%;
    }


    .header__right,
    .header__right__item,
    .header__right__item:nth-child(2),
    .header__right__item:nth-child(3){
        width: 100%;
        font-size: 13px;
    }

    .card{
        width: 100%;
    }

    .card__head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .card__head img{
        max-width: 30%;
        max-height: 30%;
        margin-bottom: 20px;
    }

    .card__head p,
    .card__head p:nth-child(3){
        margin: 0 0 10px;
    }

    .card__text p{
        margin-top: 10px;
        text-align: center;
    }

}